@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-cust
  }
}

html,
body {
  background: #F8F8F8;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}